<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>logistics.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Bill</servlet-name>
  	<display-name>Bill</display-name>
  	<description></description>
  	<servlet-class>logistics.Bill</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Dashboard</servlet-name>
  	<display-name>Dashboard</display-name>
  	<description></description>
  	<servlet-class>logistics.Dashboard</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Customer_login</servlet-name>
  	<display-name>Customer_login</display-name>
  	<description></description>
  	<servlet-class>logistics.Customer_login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_login</servlet-name>
  	<display-name>Admin_login</display-name>
  	<description></description>
  	<servlet-class>logistics.Admin_login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_Login1</servlet-name>
  	<display-name>Doctor_Login1</display-name>
  	<description></description>
  	<servlet-class>logistics.Doctor_Login1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewSpecialist</servlet-name>
  	<display-name>ViewSpecialist</display-name>
  	<description></description>
  	<servlet-class>logistics.ViewSpecialist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertDoctor</servlet-name>
  	<display-name>InsertDoctor</display-name>
  	<description></description>
  	<servlet-class>logistics.InsertDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertProduct</servlet-name>
  	<display-name>InsertProduct</display-name>
  	<description></description>
  	<servlet-class>logistics.InsertProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProduct</servlet-name>
  	<display-name>ViewProduct</display-name>
  	<description></description>
  	<servlet-class>logistics.ViewProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuyMenu</servlet-name>
  	<display-name>BuyMenu</display-name>
  	<description></description>
  	<servlet-class>logistics.BuyMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Bill12</servlet-name>
  	<display-name>Bill12</display-name>
  	<description></description>
  	<servlet-class>logistics.Bill12</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Check</servlet-name>
  	<display-name>Check</display-name>
  	<description></description>
  	<servlet-class>logistics.Check</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Appoint</servlet-name>
  	<display-name>Appoint</display-name>
  	<description></description>
  	<servlet-class>logistics.Appoint</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Appointslip</servlet-name>
  	<display-name>Appointslip</display-name>
  	<description></description>
  	<servlet-class>logistics.Appointslip</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillAppoint</servlet-name>
  	<display-name>BillAppoint</display-name>
  	<description></description>
  	<servlet-class>logistics.BillAppoint</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillCart</servlet-name>
  	<display-name>BillCart</display-name>
  	<description></description>
  	<servlet-class>logistics.BillCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCartItems</servlet-name>
  	<display-name>ViewCartItems</display-name>
  	<description></description>
  	<servlet-class>logistics.ViewCartItems</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MedicineView12</servlet-name>
  	<display-name>MedicineView12</display-name>
  	<description></description>
  	<servlet-class>logistics.MedicineView12</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminView12</servlet-name>
  	<display-name>AdminView12</display-name>
  	<description></description>
  	<servlet-class>logistics.AdminView12</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>appointmentslip</servlet-name>
  	<display-name>appointmentslip</display-name>
  	<description></description>
  	<servlet-class>logistics.appointmentslip</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorView</servlet-name>
  	<display-name>DoctorView</display-name>
  	<description></description>
  	<servlet-class>logistics.DoctorView</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Bill</servlet-name>
  	<url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Dashboard</servlet-name>
  	<url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>Customer_login</servlet-name>
  	<url-pattern>/Customer_login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_login</servlet-name>
  	<url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_Login1</servlet-name>
  	<url-pattern>/Doctor_Login1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewSpecialist</servlet-name>
  	<url-pattern>/ViewSpecialist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertDoctor</servlet-name>
  	<url-pattern>/InsertDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertProduct</servlet-name>
  	<url-pattern>/InsertProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProduct</servlet-name>
  	<url-pattern>/ViewProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuyMenu</servlet-name>
  	<url-pattern>/BuyMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Bill12</servlet-name>
  	<url-pattern>/Bill12</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Check</servlet-name>
  	<url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Appoint</servlet-name>
  	<url-pattern>/Appoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Appointslip</servlet-name>
  	<url-pattern>/Appointslip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillAppoint</servlet-name>
  	<url-pattern>/BillAppoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillCart</servlet-name>
  	<url-pattern>/BillCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCartItems</servlet-name>
  	<url-pattern>/ViewCartItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MedicineView12</servlet-name>
  	<url-pattern>/MedicineView12</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminView12</servlet-name>
  	<url-pattern>/AdminView12</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>appointmentslip</servlet-name>
  	<url-pattern>/appointmentslip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorView</servlet-name>
  	<url-pattern>/DoctorView</url-pattern>
  </servlet-mapping>
</web-app>
